@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .menu-btn {
    @apply inline-flex w-full justify-center rounded-md bg-black bg-opacity-20 px-4 py-2 text-sm font-medium text-white hover:bg-opacity-30;
  }
  .menu-items {
    @apply absolute right-0 mt-2 w-56 origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none;
  }
  .menu {
    @apply relative inline-block text-left;
  }
}

@font-face {
  font-display: swap;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/quicksand/quicksand-v30-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/quicksand/quicksand-v30-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/quicksand/quicksand-v30-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('/fonts/quicksand/quicksand-v30-latin-regular.woff') format('woff'),
    /* Modern Browsers */
      url('/fonts/quicksand/quicksand-v30-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
      url('/fonts/quicksand/quicksand-v30-latin-regular.svg#Quicksand')
      format('svg'); /* Legacy iOS */
}
@font-face {
  font-display: swap;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/quicksand/quicksand-v30-latin-600.eot'); /* IE9 Compat Modes */
  src: url('/fonts/quicksand/quicksand-v30-latin-600.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/quicksand/quicksand-v30-latin-600.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('/fonts/quicksand/quicksand-v30-latin-600.woff') format('woff'),
    /* Modern Browsers */ url('/fonts/quicksand/quicksand-v30-latin-600.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('/fonts/quicksand/quicksand-v30-latin-600.svg#Quicksand')
      format('svg'); /* Legacy iOS */
}
